@using CHERRY.DAL.Entities;
@using CHERRY.Utilities;
@model IEnumerable<CHERRY.BUS.ViewModels.Order.OrderVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<h1>Quản lý đơn hàng</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="">
            <div class="sherah-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="statusFilter" class="form-label">Lọc theo trạng thái:</label>
                        <select id="statusFilter" class="form-control">
                            <option value="">Tất cả trạng thái</option>
                            <option value="Chờ">Chờ</option>
                            <option value="Xử lý">Xử lý</option>
                            <option value="Vận chuyển">Vận chuyển</option>
                            <option value="Hoàn thành">Hoàn thành</option>
                            <option value="Hủy">Hủy</option>
                            <option value="Trả lại">Trả lại</option>
                        </select>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="minTotal">Từ:</label>
                                <input type="text" id="minTotal" class="form-control" placeholder="Từ">
                            </div>
                            <div class="col-md-6">
                                <label for="maxTotal">Đến:</label>
                                <input type="text" id="maxTotal" class="form-control" placeholder="Đến">
                            </div>
                        </div>
                        <button id="filterByTotalBtn" class="btn btn-primary">Lọc theo tổng</button>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startDate">Từ ngày:</label>
                                <input type="date" id="startDate" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label for="endDate">Đến ngày:</label>
                                <input type="date" id="endDate" class="form-control">
                            </div>
                            <button id="filterByDateBtn" class="btn btn-primary">Lọc theo ngày</button>
                        </div>
                    </div>
                    <hr />
                    <table id="orderListTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Mã đơn</th>
                                <th>Người dùng</th>
                                <th>Giao hàng</th>
                                <th>Tổng</th>
                                <th>Phương thức</th>
                                <th>Thanh toán</th>
                                <th>Trạng thái</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a id="HexCode" href="@Url.Action("Details_Order", new { IDOrder = item.ID })">
                                            @item.HexCode
                                        </a>
                                        <br />
                                        <small id="date">@item.CreateDate.ToString("dd-MM-yyyy HH:mm")</small>
                                    </td>
                                    <td>
                                        @item.CustomerName 
                                        <small>@item.CustomerPhone</small>
                                    </td>
                                    <td>
                                        @item.ShippingAddress, @item.ShippingAddressLine2
                                        <small id="customerEmail">(@item.CustomerEmail)</small>
                                    </td>
                                    <td data-search="@item.TotalAmount">@Currency.FormatCurrency(item.TotalAmount.ToString()) vnđ</td>
                                    <td>
                                        @switch (item.PaymentMethod)
                                        {
                                            case PaymentMethod.TienMatKhiGiaoHang:
                                                <span>Tiền mặt</span>
                                                break;
                                            case PaymentMethod.ChuyenKhoanNganHang:
                                                <span>Chuyển khoản</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @switch (item.PaymentStatus)
                                        {
                                            case PaymentStatus.Unknown:
                                                <span>Chưa thanh toán</span>
                                                break;
                                            case PaymentStatus.Success:
                                                <span>Đã thanh toán</span>
                                                break;
                                            case PaymentStatus.Pending:
                                                <span>Chờ xử lý</span>
                                                break;
                                            case PaymentStatus.Failure:
                                                <span>Lỗi</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @switch (item.OrderStatus)
                                        {
                                            case OrderStatus.Pending:
                                                <span>Chờ</span>
                                                break;
                                            case OrderStatus.Processing:
                                                <span></span>
                                                break;
                                            case OrderStatus.Shipped:
                                                <span>Vận chuyển</span>
                                                break;
                                            case OrderStatus.Delivered:
                                                <span>Hoàn thành</span>
                                                break;
                                            case OrderStatus.Cancelled:
                                                <span>Hủy</span>
                                                break;
                                            case OrderStatus.Returned:
                                                <span>Trả lại</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @if (item.OrderStatus == OrderStatus.Delivered || item.OrderStatus == OrderStatus.Cancelled)
                                        {
                                            @Html.ActionLink("Xem", "Details_Order", new { IDOrder = item.ID }, new { @class = "btn btn-sm btn-primary", @id = "detailLink" })
                                        }
                                        else if (item.OrderStatus == OrderStatus.Pending)
                                        {
                                            <button class="btn btn-sm btn-primary confirmOrderButton" data-order-id="@item.ID">Duyệt</button>
                                        }
                                        else if (item.OrderStatus == OrderStatus.Processing)
                                        {
                                            <button class="btn btn-sm btn-primary " id="shipping" data-order-id="@item.ID">Giao</button>
                                        }
                                        else if (item.OrderStatus == OrderStatus.Shipped)
                                        {
                                            <button class="btn btn-sm btn-primary " id="Delivered" data-order-id="@item.ID">Xong</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Order/order_index_admin.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
