@using CHERRY.DAL.Entities;
@using CHERRY.Utilities;
@model IEnumerable<CHERRY.BUS.ViewModels.Order.OrderVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<section class="sherah-adashboard sherah-show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sherah-body">
                    <div class="mb-12">
                        <label for="statusFilter" class="form-label">Lọc theo trạng thái:</label>
                        <select id="statusFilter" class="form-control">
                            <option value="">Tất cả trạng thái</option>
                            <option value="Chưa giải quyết">Chưa giải quyết</option>
                            <option value="Xử lý">Xử lý</option>
                            <option value="Đã vận chuyển">Đã vận chuyển</option>
                            <option value="Đã giao hàng">Đã giao hàng</option>
                            <option value="Đã hủy">Đã hủy</option>
                            <option value="Trả lại">Trả lại</option>
                        </select>
                        <label for="startDate">Từ ngày:</label>
                        <input type="date" id="startDate" class="form-control">

                        <label for="endDate">Đến ngày:</label>
                        <input type="date" id="endDate" class="form-control">

                        <button id="filterByDateBtn" class="btn btn-primary">Lọc theo ngày</button>

                    </div>
                    <table id="orderListTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Mã đơn</th>
                                <th>Người dùng</th>
                                <th>Địa chỉ giao hàng</th>
                                <th>Thanh toán</th>
                                <th>Phương thức thanh toán</th>
                                <th>Trạng thái thanh toán</th>
                                <th>Trạng thái</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.HexCode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                    <td> @item.ShippingAddress, @item.ShippingAddressLine2</td>
                                    <td>@Currency.FormatCurrency(item.TotalAmount.ToString()) vnđ</td>
                                    <td>
                                        @switch (item.PaymentMethod)
                                        {
                                            case PaymentMethod.TienMatKhiGiaoHang:
                                                <span>Tiền mặt</span>
                                                break;
                                            case PaymentMethod.ChuyenKhoanNganHang:
                                                <span>Chuyển khoản</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @switch (item.PaymentStatus)
                                        {
                                            case PaymentStatus.Unknown:
                                                <span>Chưa thanh toán</span>
                                                break;
                                            case PaymentStatus.Success:
                                                <span>Đã thanh toán</span>
                                                break;
                                            case PaymentStatus.Pending:
                                                <span>Chờ xử lý</span>
                                                break;
                                            case PaymentStatus.Failure:
                                                <span>Lỗi</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @switch (item.OrderStatus)
                                        {
                                            case OrderStatus.Pending:
                                                <span>Chưa giải quyết</span>
                                                break;
                                            case OrderStatus.Processing:
                                                <span>Xử lý</span>
                                                break;
                                            case OrderStatus.Shipped:
                                                <span>Đã vận chuyển</span>
                                                break;
                                            case OrderStatus.Delivered:
                                                <span>Đã giao hàng</span>
                                                break;
                                            case OrderStatus.Cancelled:
                                                <span>Đã hủy</span>
                                                break;
                                            case OrderStatus.Returned:
                                                <span>Trả lại</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Chi tiết", "Details_Order", new { IDOrder = item.ID }, new { @class = "btn btn-sm btn-primary" })
                                        @if (item.OrderStatus == OrderStatus.Delivered)
                                        {
                                            <p class="btn btn-sm btn-success">Successs</p>
                                        }
                                        else
                                        {
                                            @using (Html.BeginForm("MarkAsCancelled", "ManagerOrder", FormMethod.Post, new { @class = "d-inline" }))
                                            {
                                                <input type="hidden" name="ID_Order" value="@item.ID" />
                                                <button type="submit" class="btn btn-sm btn-danger">Huỷ</button>
                                            }

                                            @using (Html.BeginForm("MarkAsReturned", "ManagerOrder", FormMethod.Post, new { @class = "d-inline" }))
                                            {
                                                <input type="hidden" name="ID_Order" value="@item.ID" />
                                                <button type="submit" class="btn btn-sm btn-warning">Trả lại</button>
                                            }

                                            @using (Html.BeginForm("MarkAsShipped", "ManagerOrder", FormMethod.Post, new { @class = "d-inline" }))
                                            {
                                                <input type="hidden" name="ID_Order" value="@item.ID" />
                                                <button type="submit" class="btn btn-sm btn-primary">Đã vận chuyển</button>
                                            }
                                            @using (Html.BeginForm("MarkAsDelivered", "ManagerOrder", FormMethod.Post, new { @class = "d-inline" }))
                                            {
                                                <input type="hidden" name="ID_Order" value="@item.ID" />
                                                <button type="submit" class="btn btn-sm btn-success">Hoàn thành</button>
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/Order/order_index_admin.js"></script>