@using CHERRY.UI.Areas.Admin.Models
@using CHERRY.Utilities
@model ModelCompositeShare
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div class="row">
    <div class="scrollable-table col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Tên</th>
                    <th>Số điện thoại</th>
                    <th>Gmail</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserVM.UserName</td>
                    <td>@Model.UserVM.FirstAndLastName</td>
                    <td>@Model.UserVM.PhoneNumber</td>
                    <td>@Model.UserVM.Gmail</td>
                    <td>
                        @if (Model.UserVM.Status == 0)
                        {
                            <span>Khoá</span>
                        }
                        else if (Model.UserVM.Status == 1)
                        {
                            <span>Hoạt động</span>
                        }
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-6">
        <section id="orders-section">
            @if (Model.LstOrderVM != null && Model.LstOrderVM.Any())
            {
                <div class="scrollable-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã Đơn hàng</th>
                                <th>Ngày đặt</th>
                                <th>Tổng giá trị</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.LstOrderVM)
                            {
                                <tr>
                                    <td>@order.HexCode</td>
                                    <td>@order.CreateDate.ToString("dd/MM/yyyy")</td>
                                    <td>@Currency.FormatCurrency(order.TotalAmount.ToString()) đ</td>
                                    <td>@order.OrderStatus</td>
                                    <td style="text-align: center;">
                                        @Html.ActionLink("Chi tiết", "Details_Order", "ManagerOrder", new { IDOrder = order.ID }, new { @class = "btn btn-sm btn-primary" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Không có đơn hàng nào.</p>
            }
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section id="orders-section">
            <p>Voucher dành cho người dùng</p>
            @if (Model.LstVoucherVM != null && Model.LstVoucherVM.Any())
            {
                <div class="scrollable-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã voucher</th>
                                <th>Name</th>
                                <th>Bắt đầu</th>
                                <th>Kết thúc</th>
                                <th>Tối thiểu</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var voucher  in Model.LstVoucherVM)
                            {
                                <tr>
                                    <td>@voucher.Code</td>
                                    <td>@voucher.Name</td>
                                    <td>@voucher.StartDate.ToString("dd/MM/yyyy")</td>
                                    <td>@voucher.EndDate.ToString("dd/MM/yyyy")</td>
                                    <td>@Currency.FormatCurrency(voucher.ReducedValue.ToString()) đ</td>
                                    <td>@voucher.IsActive</td>
                                    <td style="text-align: center;">
                                        <a class="dropdown-item" href="@Url.Action("Details","ManagerVoucher", new { ID = voucher.ID })">Chi tiết</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>Hiện chưa có voucher nào</p>
            }
        </section>
    </div>
</div>