@using CHERRY.UI.Areas.Admin.Models
@using CHERRY.Utilities
@using static CHERRY.DAL.Entities.Voucher
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ModelCompositeShare

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h1>Chi tiết voucher</h1>
<style>
    .amount-display, .amount-text {
        display: inline-block; /* Thay đổi từ block thành inline-block */
        vertical-align: middle; /* Căn giữa các phần tử theo chiều dọc */
    }

    .amount-display {
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
        margin-right: 10px; /* Thêm khoảng cách giữa hai phần tử */
    }

    .amount-text {
        color: #6c757d;
        font-size: 0.8em;
        margin-top: 0; /* Xóa khoảng cách trên */
    }

        .amount-text small {
            display: inline; /* Thay đổi từ block thành inline */
        }

    .status-active {
        color: green;
    }

    .status-pending {
        color: red;
    }

    .status-other {
        color: gray;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>@Model.VoucherVM.ID</td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>@Model.VoucherVM.Code</td>
                </tr>
                <tr>
                    <td>Tên voucher</td>
                    <td>@Model.VoucherVM.Name</td>
                </tr>
                <tr>
                    <td>Ngày bắt đầu</td>
                    <td>@Model.VoucherVM.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
                <tr>
                    <td>Ngày kết thúc</td>
                    <td>@Model.VoucherVM.EndDate.ToString("dd/MM/yyyy HH:mm")</td>
                </tr> 
                <tr>
                    <td>Số lượt dùng</td>
                    <td>@Model.VoucherVM.Quantity</td>
                </tr>
                <tr>
                    <td>Kiểu</td>
                    <td>@Model.VoucherVM.Type</td>
                </tr>
                <tr>
                    <td>Giảm</td>
                    <td>
                        @if (Model.VoucherVM.Type == Types.Percent)
                        {
                            @Currency.FormatCurrency(Model.VoucherVM.ReducedValue.ToString()) <small>%</small>
                        }
                        else
                        {
                            @Currency.FormatCurrency(Model.VoucherVM.ReducedValue.ToString()) <small>đ</small>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Giá trị tối thiểu</td>
                    <td>@Model.VoucherVM.MinimumAmount</td>
                </tr>
                <tr>
                    <td>Key</td>
                    <td>@Model.VoucherVM.Key</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div>
            <h4>Sản phẩm áp dụng</h4>
            <ul>
                @foreach (var variant in Model.LstVoucherUserVM)
                {
                    <li>
                        Tên người dùng: <a href="@Url.Action("Details","ManagerUser", new { ID = variant.IDUser })">@variant.IDUser </a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
