@using CHERRY.UI.Areas.Admin.Models
@using static CHERRY.DAL.Entities.Voucher
@model ModelCompositeShare
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="/css/Promotions/promotion_create.css"/>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="myForm">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.PromotionCreateVM.SKU" class="control-label"></label>
                <input asp-for="@Model.PromotionCreateVM.SKU" class="form-control" id="SKU" />
                <span asp-validation-for="@Model.PromotionCreateVM.SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PromotionCreateVM.Content" class="control-label"></label>
                <input asp-for="@Model.PromotionCreateVM.Content" class="form-control" id="Content" />
                <span asp-validation-for="@Model.PromotionCreateVM.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PromotionCreateVM.StartDate" class="control-label"></label>
                <input asp-for="@Model.PromotionCreateVM.StartDate" class="form-control" id="StartDate" />
                <span asp-validation-for="@Model.PromotionCreateVM.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PromotionCreateVM.EndDate" class="control-label"></label>
                <input asp-for="@Model.PromotionCreateVM.EndDate" class="form-control" id="EndDate" />
                <span asp-validation-for="@Model.PromotionCreateVM.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.PromotionCreateVM.IsActive" id="IsActive" /> Kích hoạt
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Kiểu khuyến mãi</label>
                <div class="form-check">
                    <input asp-for="@Model.PromotionCreateVM.Type" class="form-check-input" type="radio" value="@nameof(Types.Percent)" id="typePercentage">
                    <label class="form-check-label" for="typePercentage">Giảm phần trăm</label>
                </div>
                <div class="form-check">
                    <input asp-for="@Model.PromotionCreateVM.Type" class="form-check-input" type="radio" value="@nameof(Types.Cash)" id="typeCash">
                    <label class="form-check-label" for="typeCash">Giảm tiền mặt</label>
                </div>
                <span asp-validation-for="@Model.PromotionCreateVM.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label id="labelForReducedValue" asp-for="@Model.PromotionCreateVM.DiscountAmount" class="control-label">Giá trị giảm</label>
                <div class="input-group">
                    <input asp-for="@Model.PromotionCreateVM.DiscountAmount" class="form-control" id="DiscountAmount" />
                    <span id="reducedValueSuffix" class="input-group-text">...</span>
                </div>
                <span asp-validation-for="@Model.PromotionCreateVM.DiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" id="createButton" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div>Sản phẩm áp dụng</div>
        <div>
            <input type="checkbox" id="checkAll" name="checkAll"> Chọn tất cả
        </div>
        @foreach (var variant in Model.LstVariantsVM)
        {
            <div class="variant-item">
                <input type="checkbox" class="productCheckbox" name="PromotionCreateVM.SelectedVariantIds" value="@variant.ID">
                <div class="variant-info">
                    <img src="@variant.ImagePaths.FirstOrDefault()" class="variant-image" alt="Sản phẩm">
                    <span>@variant.VariantName</span>
                    <span class="variant-detail">SKU: @variant.SKU_v2</span>
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="/js/promotion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
